:root {
    font-size: 62.5%;
    --accent-color: rgb(59, 135, 229);
    --alt-accent-color: rgb(221, 136, 25);
    --bkg-grey: rgb(210, 210, 210);
}

body {
    display: grid;
    grid-template: 160px 1fr / 240px 1fr;
    grid-template-areas: 
        "nav header"
        "nav main";
    padding: 0;
    margin: 0;
    height: 100vh;
}

nav {
    grid-area: nav;
    display: grid;
    align-content: start;
    gap: 40px;
    padding: 15px 25px;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
}

.logo-container {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 15px;
    align-items: center;
    margin-left: -0.75rem;
}
.logo {
    height: 3.5rem;
}

.logo-title {
    display: inline;
    margin: 0;
    font-size: 2.5rem;
}

nav > .nav-container {
    display: grid;
    gap: 0.5rem;
}

nav a {
    text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 2.2rem 1fr;
    align-items: center;
    gap: 14px;
    color: white;
    margin: 0.5rem 0;
}

nav a:hover {
    color: red;
}

nav p {
    font-size: 1.8rem;
    margin: 0;
}

.nav-icon {
    height: 2.2rem;
}

header {
    background-color: var(--alt-accent-color);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 20px 35px;
}

header div {
    display: grid;
    grid-auto-flow: column;
    justify-items: space-between;
}

#search-form {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;

}

.search-icon {
    height: 2.4rem;
}

#search-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    border: none;
    border-radius: 15px;
    background-color: var(--bkg-grey);
    font-size: 1.4rem;
    padding: 0.4rem 1.4rem;
}

.user-info {
    display: grid;
    grid-auto-flow: column;
}

#notification-bell{
    appearance: none;
    background-image: url(./images/bell.svg);
    background-color: #00000000;
    background-repeat: no-repeat;
    border: none;
    height: 2.4rem;
    width: 2.4rem;
}

.welcome {
    grid-template: 1fr / 1fr 1fr;
}

.welcome > .avatar {
    grid-row: 1 / 3
}

main {
    background-color: var(--bkg-grey);
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.projects {
    grid-row: 1 / 3;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    height: 25s0px;
    border: red solid 2px;
}

.announcement {
    height: 60px;
    border: red solid 2px;
}

.user-card {
    height: 40px;
    border: red solid 2px;
}