:root {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 58%;
    --main-color: #EAEAEA;
    --secondary-color: #B9C1DF;
    --accent-color: #2B303A;
    --secondary-accent-color: #75061F;
    --main-text: rgb(0, 0, 0);
    --secondary-text: rgb(65, 65, 65);
    --accent-text: #FFFFFF;
    --shadow-grey: rgba(120, 120, 120, 0.8);
    --shadow-black: rgba(0, 0, 0, 0.8)
}

a {
    text-decoration: none;
}

button {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

body {
    display: grid;
    grid-template-columns: 240px 1fr;
    padding: 0;
    margin: 0;
    height: 100vh;
}

nav {
    display: grid;
    align-content: start;
    gap: 40px;
    padding: 15px 25px;
    background-color: var(--accent-color);
    color: var(--accent-text);
    font-weight: bold;
}

.logo-container a {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 15px;
    align-items: center;
    margin-left: -0.75rem;
}

.logo {
    height: 3.5rem;
}

.logo-title {
    display: inline;
    margin: 0;
    font-size: 2.5rem;
}

nav>.nav-container {
    display: grid;
    gap: 0.5rem;
}

nav a {
    color: var(--accent-text);
    font-size: 1.8rem;
}

.nav-container a {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 2.2rem 1fr;
    align-items: center;
    gap: 14px;
    color: var(--accent-text);
    margin: 0.5rem 0;
    font-size: 1.8rem;
    transition: 0.15s;
}

.nav-container a:hover {
    transform: scale(1.1);
}

nav p {
    margin: 0;
}

.nav-icon {
    height: 2.2rem;
}

main {
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-y: auto;
}

header {
    background-color: var(--main-color);
    display: grid;
    row-gap: 15px;
    grid-template: min-content min-content / 2fr 1fr;
    padding: 10px 35px 20px;
    box-shadow: 0px 5px 5px var(--shadow-grey);
    position: sticky;
    top: -4.3rem;
    color: var(--main-text)
}

header>div {
    display: grid;
    grid-auto-flow: column;
    justify-items: space-between;
}

#search-form {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;

}

.search-icon {
    height: 2.2rem;
}

#search-bar {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-color);
    font-size: 1.4rem;
    padding: 0.4rem 1.4rem;
    box-shadow: 1px 1px 2px var(--shadow-black) inset;
}

.user-info {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 8px
}


.img-button {
    appearance: none;
    background-color: #00000000;
    background-repeat: no-repeat;
    border: none;
    height: 2.2rem;
    width: 2.2rem;
}

.img-button.bell {
    background-image: url(./images/icons/bell.svg);
    margin-right: 20px;
}

.avatar.mini {
    height: 3.2rem;
}

.user-info>p {
    align-self: end;
    font-size: 1.5rem;
    font-weight: bold;
}

.welcome {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr min-content / 6rem 1fr;
    column-gap: 10px;
    justify-content: start;
    align-items: end;
}


.welcome>.avatar {
    grid-row: 1 / 3
}

.avatar {
    height: 5.5rem;
    outline: black 1px solid;
    border-radius: 50%;
    margin-bottom: -0.5rem;
}

.welcome>p {
    font-weight: bold;
    margin: 0;
}

.welcome-text {
    font-size: 1.3rem;
}

.user-identifier {
    font-size: 2.2rem;
}

.controls {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    column-gap: 10px;
    align-items: end;
}

.controls>button {
    appearance: none;
    border: none;
    background-color: var(--accent-color);
    color: var(--accent-text);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
    border-radius: 20px;
}

.controls>button:hover {
    background-color: var(--secondary-accent-color);
}

.controls>button:active {
    background-color: var(--secondary-accent-color);
    box-shadow: 1px 1px 2px black inset;
    padding: 0.8rem 1.95rem 0.6rem 2.05rem;
}

content {
    background-color: var(--secondary-color);
    display: grid;
    grid-template: min-content min-content / 1fr 200px;
    gap: 35px 15px;
    padding: 20px 15px;
    color: var(--main-text)
}

content h3,
h4,
p {
    margin: 0;
}

content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container {
    grid-row: 1 / 3;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
}

.card {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 25px;
    background-color: var(--main-color);
    box-shadow: 2px 2px 4px var(--shadow-grey);
}

.card.project {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: min-content 1fr min-content min-content;
    gap: 8px;
}

.card.project:hover {
    padding-left: 15px;
    border-left: var(--accent-color) 10px solid;
}

.card-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin: 0 5px;
}


.project-link {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
    font-size: 1.8rem;
    color: black;
}

.project-icon {
    align-self: center;
    width: 2.2rem;
}

#github-icon {
    justify-self: end;
    width: 2.5rem;
}

.preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-postion: center;
    margin: 0;
}

.project-description {
    margin: 0 5px;
    font-size: 1.5rem;
    text-align: justify;
    color: var(--secondary-text)
}

.options-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
    margin: 0 5px;
}

.img-button.favourite {
    background-image: url(./images/icons/star.svg);
}

.img-button.like {
    background-image: url(./images/icons/thumb-up.svg);
}

.img-button.share {
    background-image: url(./images/icons/share.svg);
}

.card.announcements {
    display: grid;
    grid-template-rows: repeat(auto-fit, min-content);
}

.announcement {
    margin: 0;
    padding-bottom: 15px;
    overflow: hidden;
}

.announcement:not(:last-child) {
    border-bottom: var(--secondary-color) 1px solid;
}

.announcement:not(:first-child) {
    padding-top: 15px;
}

.announcement-title {
    display: block;
    margin: 0;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.announcement-description {
    font-size: 1.1rem;
    color: var(--secondary-text);
}

.card.trending {
    display: grid;
    grid-template-rows: repeat(4, 50px);
    padding: 10px 20px;
}

.trending>div {
    display: grid;
    grid-template: 1fr 1fr / 3.5rem 1fr;
    column-gap: 8px;
    font-size: 1.1rem;
    align-content: center;
}

.trending img {
    grid-row: 1 / 3;
    align-self: center;
}

.trend-description {
    color: var(--secondary-text)
}


.user-tag {
    align-self: end;
}